---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import IntroText from "@components/IntroText.astro";
import { dateRange } from "@lib/utils";
import { SITE, SOCIALS } from "@consts";
import { useTranslations } from "@i18n/utils";
import { ensureLeadingSlash } from "@lib/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const { lang: langProp } = Astro.props;
const lang = langProp ?? "en";
const t = useTranslations(lang);
const localePrefix = `${lang}/`;

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft && post.id.startsWith(localePrefix))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(
    (project) => !project.data.draft && project.id.startsWith(localePrefix)
  )
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .filter((item) => item.id.startsWith(localePrefix))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    return { ...item };
  })
);
---

<PageLayout
  title={t("metadata.home.title")}
  description={t("metadata.home.description")}
  lang={lang}
>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      <span class="text-xl">{t("home.greeting")}</span>
    </h4>
    <div class="space-y-16">
      <section>
        <IntroText content={t("home.intro")} lang={lang} />
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black font-thin dark:text-white">
            {t("home.latestPosts")}
          </h5>
          <Link href={ensureLeadingSlash(getRelativeLocaleUrl(lang, "blog"))}>
            {t("home.allPosts")}
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black font-thin dark:text-white">
            {t("home.workExperience")}
          </h5>
          <Link href={ensureLeadingSlash(getRelativeLocaleUrl(lang, "work"))}>
            {t("home.details")}
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd, lang)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm">{entry.data.role}</div>
                <div class="text-sm opacity-75 tracking-wide">
                  {entry.data.summary}
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black font-thin dark:text-white">
            {t("home.recentProjects")}
          </h5>
          <Link
            href={ensureLeadingSlash(getRelativeLocaleUrl(lang, "projects"))}
          >
            {t("home.allProjects")}
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black font-thin dark:text-white">
          {t("home.contact")}
        </h5>
        <article></article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
