---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { useTranslations } from "@i18n/utils";
import WorkExperienceCard from "@components/proposals/WorkExperienceCard.astro";

const lang = Astro.locals.lang;
const t = useTranslations(lang);

const collection = (await getCollection("work"))
  .filter((item) => item.id.startsWith("fr/"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  );

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout
  title={t("metadata.work.title")}
  description={t("metadata.work.description")}
  lang={lang}
>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        {t("work.title")}
      </div>
      <ul class="mx-auto w-full max-w-4xl flex flex-col space-y-6">
        {
          work.map((entry) => {
            const logo = (entry.data as { logo?: string }).logo;
            return (
              <li class="animate">
                <WorkExperienceCard
                  logo={logo}
                  company={entry.data.company}
                  role={entry.data.role}
                  dateLabel={dateRange(
                    entry.data.dateStart,
                    entry.data.dateEnd,
                    lang
                  )}
                  summary={entry.data.summary}
                  Content={entry.Content}
                />
              </li>
            );
          })
        }
      </ul>
    </div>
  </Container>
</PageLayout>
